.topmenubackcolor {
  background-color: white;
  background-image: linear-gradient(to right, white, #5e68db);
}

.btntransparent {
  background-color: Transparent;
}

.topmenutext {
    font-weight: bold;
  }
